.Si {
  position: relative;
  top: 4px;
  right: 3px;
  color: #50d603;
  font-size: 20px;
}

@media(max-width: 1120px) {
  #MostrarMenu {
    display: flex;
    z-index: 10;
    position: absolute;
    left: 0px;
    top: 100px;
    width: 100%;
    background-color: #35588b;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #MostrarMenu li:hover {
    width: 100%;
    text-align: center;
    margin-left: initial;
    background-color: #15226b;
  }

  #MostrarMenu a {
    line-height: 2.5;
    border: none;
  }
}